<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sk.board.mapper.BackgroundMapper">

	<insert id="insertBackground" parameterType="String">
	    INSERT INTO BACKGROUND (file_seq, id, origin_name, stored_name)
	    VALUES (NULL, #{id}, '기본사진.png', '7a6bd959-9af1-433f-9121-082e25456cf0.png');
	</insert>
	
	<select id="getBackground" parameterType="String" resultType="backgroundDto">
        SELECT file_seq, id, origin_name, stored_name
        FROM BACKGROUND
        WHERE id = #{id}
    </select>

	<update id="updateBackground" parameterType="BackgroundDto">
        UPDATE BACKGROUND
        SET origin_name=#{origin_name}, stored_name=#{stored_name}
        WHERE id = #{id}
    </update>
</mapper>




