<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sk.board.mapper.BookmarkMapper">

	<select id="getBookmark" parameterType="bookmarkDto" resultType="int">
		SELECT COUNT(*)
		FROM BOOKMARK
		WHERE id = #{id} and board_seq = #{board_seq}
	</select>
	
	<insert id = "insertBookmark" parameterType="bookmarkDto">
		INSERT INTO BOOKMARK
		VALUES(NULL, #{id},#{board_seq})
	</insert>
	
	<update id="deleteBookmark" parameterType="bookmarkDto">
		DELETE FROM BOOKMARK
		WHERE id = #{id} and board_seq = #{board_seq}
	</update>
	
	<select id="getAllList" parameterType="String" resultType="boardDto">
		SELECT b.BOARD_SEQ, b.ID, b.TITLE, b.CONTENT, b.REGDATE, m.NAME, m.memberid
		FROM board b JOIN bookmark f ON b.board_seq = f.board_seq
						 JOIN member m ON b.id = m.id
		WHERE f.id = #{id}
	</select>
</mapper>