<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sk.board.mapper.FollowMapper">

	<resultMap type="memberDto" id="memberDtoMap">
        <id property="memberId" column="memberid"/> <!-- 대소문자 확인 -->
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="role" column="role"/>
        <result property="job" column="job"/>
        
        <association property="profileDto" resultMap="profileDtoMap"/>
    </resultMap>

    <resultMap type="profileDto" id="profileDtoMap">
        <id property="file_seq" column="file_seq"/>
        <result property="id" column="id"/>
        <result property="origin_name" column="origin_name"/>
        <result property="stored_name" column="stored_name"/>
    </resultMap>
    
	<select id="getFollow" parameterType="followDto" resultType="int">
		SELECT COUNT(*)
		FROM FOLLOW
		WHERE id = #{id} and following_id = #{following_id}
	</select>
	
	<insert id = "insertFollow" parameterType="followDto">
		INSERT INTO FOLLOW
		VALUES(NULL, #{id},#{following_id})
	</insert>
	
	<update id="deleteFollow" parameterType="followDto">
		DELETE FROM FOLLOW
		WHERE id = #{id} and following_id = #{following_id}
	</update>
	
	<select id="getFollowList" parameterType="String" resultMap="memberDtoMap">
		SELECT m.memberid, m.id, m.password, m.name, m.address, m.email, m.role, m.job, p.file_seq, p.origin_name, p.stored_name
		FROM member m JOIN follow f ON f.following_id = m.id
						  JOIN profile p ON m.id = p.id
		WHERE f.ID = #{id}

	</select>
</mapper>