<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sk.board.mapper.ReplyMapper">
	<resultMap id="replyResultMap" type="ReplyDto">
	    <id property="reply_seq" column="reply_seq"/>
	    <result property="comment_seq" column="comment_seq"/>
	    <result property="id" column="id"/>
	    <result property="content" column="content"/>
	    <result property="regdate" column="regdate"/>
	
	    <association property="member" javaType="MemberDto">
	        <id property="memberId" column="memberid"/>
	        <result property="id" column="id"/>
	        <result property="name" column="name"/>
	        <result property="email" column="email"/>
	        <result property="address" column="address"/>
	        <result property="role" column="role"/>
	        <result property="job" column="job"/>
	        <association property="profileDto" javaType="ProfileDto">
	            <id property="file_seq" column="file_seq"/>
	            <result property="stored_name" column="stored_name"/>
	        </association>
	    </association>
	</resultMap>
	
	<select id="getReplys" parameterType="Integer" resultMap="replyResultMap">
		SELECT
		FROM reply r
		LEFT JOIN member m ON r.id = m.id
		LEFT JOIN profile p ON m.id = p.id
		WHERE r.comment_seq = #{comment_seq}
		ORDER BY r.regdate DESC;
	</select>
	<insert id = "addReply" parameterType="ReplyDto">
		INSERT INTO reply (reply_seq, comment_seq, id, content, regdate)
		VALUES (NULL, #{comment_seq}, #{id}, #{content}, NOW());
	</insert>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM REPLY
		WHERE reply_seq = #{reply_seq}
	</delete>
</mapper>