<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sk.board.mapper.SearchMapper">

	<resultMap type="memberDto" id="memberDtoMap">
        <id property="memberId" column="memberid"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="role" column="role"/>
        <result property="job" column="job"/>
        
        <association property="profileDto" resultMap="profileDtoMap"/>
    </resultMap>

    <resultMap type="profileDto" id="profileDtoMap">
        <id property="file_seq" column="file_seq"/>
        <result property="id" column="id"/>
        <result property="origin_name" column="origin_name"/>
        <result property="stored_name" column="stored_name"/>
    </resultMap>
    
    <select id="getUserList" parameterType="String" resultMap="memberDtoMap">
        SELECT 
            M.memberid, M.id, M.name, M.email, M.address, M.role, M.job,
            P.file_seq, P.origin_name, P.stored_name
        FROM 
            member M 
        JOIN 
            profile P ON M.id = P.id
        WHERE 
            M.job LIKE CONCAT('%', #{search_input}, '%');
    </select>
    
    <select id="getUserListByName" parameterType="String" resultMap="memberDtoMap">
        SELECT 
            M.memberid, M.id, M.name, M.email, M.address, M.role, M.job,
            P.file_seq, P.origin_name, P.stored_name
        FROM 
            member M 
        JOIN 
            profile P ON M.id = P.id
        WHERE 
            M.name LIKE CONCAT('%', #{search_input}, '%');
    </select>
    
    <select id="getUserwithProfile" parameterType="String" resultMap="memberDtoMap">
        SELECT 
            M.memberid, M.id, M.name, M.email, M.address, M.role, M.job,
            P.file_seq, P.origin_name, P.stored_name
        FROM 
            member M 
        JOIN 
            profile P ON M.id = P.id
        WHERE 
            M.id = #{id};
    </select>
</mapper>
